* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.flex-container {
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.card {
  width: 86%;
  border-radius: 0.5rem;
  background-color: #1d2c67;
}

.card-menu {
  padding: 2.5rem;
  border-top-right-radius: 5rem;
}

.card-menu-container {
  display: flex;
  gap: 1rem;
}

.card-menu-box {
  margin-top: 1.6rem;
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 0.5rem;
  background-color: #0c122c;
  text-align: center;
}
.card-menu-box__img {
  width: 45%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #dddbff;
  padding: 2rem 2rem 3.5rem 2rem;
  position: relative;
}

.card-bar-bar {
  margin: 1rem 0 0.5rem 0;
  background-color: #0c122c;
  padding: 2px;
  border-radius: 14px;
}

.card-bar-progress {
  display: flex;
  justify-content: right;
  padding: 2px;
  border-radius: 12px;
  width: 75%;
  background-image: linear-gradient(90deg, #ffa399, #ff4d97);
}

.card-bar-circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
}

.card-bar-text {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.card-bar-msg {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-bar-msg__msg {
  padding: 0.9rem 1.3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: black;
}
.card-bar-msg__msg strong {
  font-size: 2.4rem;
}
.card-bar-msg__msg span {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #848794;
}

.card-bar-msg__triangle {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c122c;
  }

  .flex-container {
    width: 60%;
    flex-direction: row;
    gap: 2rem;
    height: fit-content;
    align-items: flex-end;
  }

  .card-menu {
    flex: 0 1 40%;
  }

  .card-bar {
    padding: 2.5rem 2rem 2.5rem 2rem;
    flex: 1;
    text-align: initial;
  }

  .card-bar-msg {
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    left: 28.2rem;
    transform: translate(-100%, -50%);
  }
  .card-bar-msg__msg {
    padding-right: 15px;
    border-bottom-right-radius: 0;
  }
  .card-bar-msg__msg span {
    letter-spacing: 1px;
    margin: 0 12px;
  }
  .card-bar-msg__triangle {
    display: block;
  }
}

/*# sourceMappingURL=cards.css.map */
